@font-face {
  font-family: "Tajawal";
  src: url("./assets/Tajawal/Tajawal-Black.ttf");
  src: url("./assets/Tajawal/Tajawal-Bold.ttf");
  src: url("./assets/Tajawal/Tajawal-ExtraBold.ttf");
  src: url("./assets/Tajawal/Tajawal-ExtraLight.ttf");
  src: url("./assets/Tajawal/Tajawal-Light.ttf");
  src: url("./assets/Tajawal/Tajawal-Medium.ttf");
  src: url("./assets/Tajawal/Tajawal-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  font-weight: 600;
}
